.laiks {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.laiks li {
  list-style: none;
  margin-left: 10px;
  overflow: hidden;
  justify-content: center;
}

span {
  /* display: block;
  padding: 10px; */
  letter-spacing: 0.1em;
}